/*--
Author: Flo
Description:;
--*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7ie0hd');
  src:  url('../fonts/icomoon.eot?7ie0hd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7ie0hd') format('truetype'),
    url('../fonts/icomoon.woff?7ie0hd') format('woff'),
    url('../fonts/icomoon.svg?7ie0hd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-farmer:before {
  content: "\e900";
}
.icon-crops:before {
  content: "\e901";
}
.icon-agronomist:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e903";
}
.icon-social:before {
  content: "\e903";
}

body{
  margin:0;
  padding:0;
  background:#fff;
  font-family: 'Open Sans', serif;
 }

.container{
  display: block;
  margin: 0 auto;
  position: relative;
  width: 1160px;
  max-width: 1160px;
}

.header{
  display: block;
  position: relative;
  width: 100%;
}

.header .container{
  display: flex;
  flex-direction: column;
}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 0;
  box-sizing: border-box;
  height: 50px;
}

.socials a{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 30px;
  display: inherit;
  height: 30px;
  margin-right: 5px;
}

.socials :hover {
  opacity: 0.8;
}

.socials a:last-child{
  margin-right: 0;
}

.socials a.facebook{
  background-color: #3B5998;
}

.socials a.twitter{
  background-color: #55ACEE;
}

.socials a.linkedin{
  background-color: #007bb5;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu .navbar{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.menu .navbar a{
  color: #242424;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.menu .navbar a:hover:after, .menu .navbar a.active:after{
  background-color: #bf7021;
  content: '';
  display: block;
  position: absolute;
  top: 28px;
  width: 100%;
  height: 3px;
}

.menu .navbar a.login-btn{
  background-color: #bf7021;
  border: 1px solid #bf7021;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 4px;
  margin-left: 10px;
}

.menu .navbar a.login-btn:hover{
  background-color: #ffffff;
  color: #bf7021;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .navbar a.login-btn:hover:after{
  display: none;
}

.banner{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
  height: 420px;
  width: 100%;
  z-index: 0;
}

.banner:before{
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner .container .banner-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 0 20%;
  text-align: center;
}

.banner .container .banner-text h1{
  font-size: 50px;
 letter-spacing: 2px;
}

.banner .container, .banner-text {
    height: 100%;
    z-index: 2;
}
.what-we-do{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #f9f1e9;
}

.what-we-do .section-header{
  display: flex;
  flex-direction: row;
  background-color: #f9f1e9;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.what-we-do .content{
  display: block;
  padding: 10% calc((100% - 1160px)*0.5);
  width: 70%;
}

.what-we-do .content h1{
  font-size: 20px;
  font-weight: bold;
}

.what-we-do .content-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  width: 30%
}

.infograph{
  background-color: #dbe8d5;
  padding: 8% 0;
}

.infograph .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info-item{
  color: #bf7021;
}

.info-icon {
    font-size: 9em;
    display: flex;
}

.info-item h3{
  text-align: center;
}

.info-item h3 span{
  display: block;
}

.contact-us{
  display: flex;
  position: relative;
  height: 540px;
  z-index: 0;
}

.contact-us:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contact-us .container{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.contact-us .contact-item{
  color: #ffffff;
  display: block;
  margin: 15px 0;
}

.contact-us .contact-item h4{
  margin: 0;
}

.contact-us .contact-item p{
  margin: 0;
}

.contact-form{
  width: 50%
}

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%
}

.inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs input[type=text]{
  width: 49%
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
    font-weight: 600;
    margin-bottom: 16px;
    width: 100%;
}

input[type=submit]:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.footer{
  display: block;
  position: relative;
  width: 100%;
}

.footer .container{
  display: flex;
  flex-direction: column;
}

.footer-item {
  font-size: 14px;
  font-color:#000000;
  text-align: center;
}



